.chat-input {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 16px;
  border-radius: 16px;

  max-width: 60%;
  margin: 0 auto;

  &__field textarea {
    padding-left: 42px !important;
    font-size: 15px;
  }

  &__attachment {
    margin-bottom: 11px;
    margin-left: 6px;
  }

  &__send {
    margin-bottom: 5px;
    border-radius: 16px;
    margin-right: -3px;
  }
}
