.sidebar {
  min-width: var(--width-sidebar);
  height: 100dvh;
  background-color: var(--light-grey);
  padding: 16px 8px;
  border-right: 1px solid white;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}

.logo {
  padding: 0 8px;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 0;
}

.sidebar-hr {
  padding: 0 8px;
  width: 100%;
}
