.input {
  position: relative;
  width: 100%;

  &__field {
    outline: none;
    width: 100%;
    border-radius: 0.75rem;
    padding: 4px 8px;
  }

  &__field::placeholder {
    color: var(--grey);
  }

  &--primary &__field {
    border: 1px solid #dadae1;
    background-color: transparent;
    height: 42px;
  }

  &--secondary &__field {
    border: 0;
    background-color: white;
    font-size: 14px;
    height: 36px;
  }

  &__adornment {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &--adornment--start &__field {
    padding-left: 32px;
  }

  &--adornment--end &__field {
    padding-right: 32px;
  }

  &__adornment--start {
    left: 8px;
  }

  &__adornment--end {
    right: 8px;
  }

  &__adornment--start + & {
    padding-left: 24px;
  }
}

.textarea {
  &__field {
    display: flex;
    resize: none;
    overflow: hidden;
    border-radius: calc(42px / 2);
    height: 42px;
    padding: 12px 16px;
  }

  &__adornment {
    top: auto;
    transform: translateY(0);
    bottom: 0;
  }
}
