.message {
  &__content {
    border: 1px solid var(--light-grey);
    border-radius: 1rem;
    overflow: hidden;
  }

  &__image {
    max-width: 600px;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s linear;
  }

  &__image:hover {
    opacity: 0.8;
  }

  &__image img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 14px;
    padding: 12px;
  }

  &__info {
    padding: 0 6px;
    padding-top: 2px;
  }

  &__status span,
  &__date {
    font-size: 10px;
  }
}

.message--me {
  margin-left: auto;
  .message__content {
    background-color: var(--violet);
    color: white;
  }
}
